.logo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.logoImage {
  width: 70%;
  height: auto;
}

.scrolled .logoImage {
  width: 250px;
  height: auto;
}

@media (min-width: 1025px) {
  .logo {
    flex: 0 1 auto;
    margin: 0;
  }
  .logoImage {
    width: 300px;
    height: auto;
  }
}

/* Logo optimization for landscape mode */
@media only screen and (max-height: 540px) and (orientation: landscape) {
  .logoImage {
    width: 60%; /* Slightly smaller logo */
  }
}