.heroBannerWrapper {
  display: flex;
  justify-content: center;
  margin: 0 0.5rem 0 0.5rem; 
  background-color: #fff;
  border-radius: 0 0 8px 8px;
}

.heroBanner {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  gap: 3rem;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
}